<!DOCTYPE html>
<html lang="en" data-theme="night">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voters - Voting System</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.18.0/dist/full.css" rel="stylesheet">
</head>
<body class="p-6">
    <div class="container mx-auto">
        <nav class="flex justify-between items-center py-4">
            <h1 class="text-3xl font-bold">Electronic Voting System</h1>
            <div class="flex space-x-4">
                <!-- <a href="/back" class="btn btn-outline btn-primary">Back</a> -->
            </div>
        </nav>

        <!-- Add Voter Form -->
        <form action="/validate_voter" method="POST" class="mb-8">
            <h2 class="text-2xl font-semibold mb-2">Generate OTP</h2>
            <input type="number" name="voter_id" placeholder="voter_id" class="input input-bordered input-secondary w-full max-w-xs m-4" required>
            <input type="number" name="otp" placeholder="otp" class="input input-bordered input-secondary w-full max-w-xs m-4" required>
            <center><button class="btn btn-secondary mt-2 px-5 m-4">Confirm</button>
        </center></form>

        <!-- Flash Messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div id="flash-message" class="alert alert-warning shadow-lg">
                    <div>
                        {% for category, message in messages %}
                            <span>{{ message }}</span>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endwith %}

        
         
    </div>
</body>
</html>
